.header {
  height: 120px;
  padding: 20px;
  background-color: #1c1e22;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
}

.header__buttons {
}

.header__button {
  width: 120px;
  height: 65px;
}
